<h1>Editing post</h1>
<p class="delete"><%= link_to 'Delete This Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<%= render 'form' %>

<%= link_to 'Back', post_path(@post) %>
