// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { background: #EEEEEE; }
.nav_link a { text-decoration: none; color: blue; }
.title { font-size: 18px; color: gray; height: 10px; }
.name { font-size: 10px; color: gray; }
.contents p { height: 14px; }
.actions a { text-decoration: none; font-size: 8px; color: gray; }
.timestamp { font-size: 10px; color: gray; }
